@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base font-normal text-dark bg-white;
  }

  .active {
    position: relative;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2rem;
  }

  @media only screen and (min-width: 768px) {
    .active {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 1px;
    left: 0;
    background: currentColor;
    transition: width 0.3s ease-in-out;
  }

  @media only screen and (min-width: 768px) {
    .active::after {
      height: 2px;
    }
  }
}
